-@ val pageTitle: String
-@ val person: com.neilshannon.model.Person

!!! 5
html(lang="en")
    head
        title= pageTitle
        script{:src => '/public/js/jquery-1.9.1.min.js', :type => 'text/javascript'}
        script{:src => '/public/js/bootstrap.min.js', :type => 'text/javascript'}
        link{:rel => 'stylesheet', :href => '/public/css/bootstrap.min.css', :type => 'text/css'}
        link{:rel => 'stylesheet', :href => '/public/css/style.css', :type => 'text/css'}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    body
        div.navbar.navbar-inverse.navbar-fixed-top
            div.navbar-inner
                div.container-fluid
                    a.brand(href='#') NTS Development LLC
                    a.pull-right(href="/logout") Logout
                    div.nav-collapse.collapse
                        ul.nav
                            li.active
                                a(href='#') Home

        div.container-fluid
            div.content
                div.page-header
                    h1 #{pageTitle}
                h3 Ready to load your LinkedIn connections?
                a.btn.btn-primary(href="/load_connections") Load Connections!
        footer
            p.center &copy; NTS Development LLC 2015

        :javascript
            function showLoadingConnections(){

            }
